.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}

.fixed-panel-body {
    min-height: 148px;
    max-height: 148px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.5;
    -webkit-line-clamp: 6;
}

.row-weight {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.form-layout {
    margin: 1vh 4vw;
}

textarea {
    width: 100%;
}

.panel-heading:hover {
    background-color: #dfdfdf;
}

.feedbacks .panel-body:hover {
    cursor: pointer;
    overflow: hidden;
}

#addAppointment {
    margin: 5px;
}

#addAppointment:before {
    /*content: '+';*/
}

#modal-body-text {
    word-wrap: break-word;
}

#showMore {
    margin-bottom: 13px;
}

.showInfo {
    position: fixed;
    top: 7px;
    left: 45vw;
    z-index: 1000;
    width: auto;
    height: auto;
}

.showInfoError {
    display: none;
}
