<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<meta charset="UTF-8"/>

<head lang="en">
    <title>Details</title>
    <link rel="stylesheet" th:href="@{/css/datepicker.css}"/>
    <link rel="stylesheet" th:href="@{/css/detail.css}"/>
    <script type="text/javascript" th:src="@{/js/bootstrap-datepicker.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-formhelpers-phone.js}"></script>
    <script type="text/javascript" th:src="@{/js/uploader.js}"></script>
    <script type="text/javascript" th:src="@{/js/modalKeys.js}"></script>
   </head>

<body>

<section layout:fragment="content">

    <div class="content">
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-10 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-0 toppad">

                    <form th:action="@{/save/detail}" th:object="${userDetail}" role="form" name="detailForm"
                          id="detailForm" method="post">
                        <div hidden="hidden">
                            <input type="number" th:field="*{id}"/>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading" style="height: 40px">
                                <h3 class="panel-title">
                                    <!--<span th:if="${!edit} and ${userDetail.firstName!=null}"
                                          th:text="${userDetail.firstName+' '+userDetail.lastName}"></span>
                               <span th:if="${edit}">
                                    <div class="col-md-5">
                                        <input type="text" th:field="*{firstName}" name="firstName" id="firstName"
                                               th:placeholder="#{card.patients.firstName}"/>

                                        <p class="error" th:if="${#fields.hasErrors('firstName')}"
                                           th:errors="*{firstName}"></p>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" th:field="*{lastName}" name="lastName" id="lastName"
                                               th:placeholder="#{card.patients.lastName}"/>

                                        <p class="error" th:if="${#fields.hasErrors('lastName')}"
                                           th:errors="*{lastName}"></p>
                                    </div>
                                </span>-->
                                    <span class="pull-right">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                            onclick="location.reload();">&times;</button>
                                        </span>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div align="center" id="image-div">

                                      <div style="color: red">  <td th:text="#{user.detail.informationCard}" ></td></div>


                                        <figure th:class="${edit}?'snip1494 img-responsive img-circle'">

                                            <img th:if="${userDetail.imagePath!=''}" alt="User Pic"
                                                 style="height: 200px;" id="image-uploaded"
                                                 th:src="${userDetail.imagePath==null}?@{/images/avatar/ava.png}:@{|/images/avatar/${userDetail.imagePath}|}"
                                                 class="img-responsive img-circle"/>
                                            <img th:if="${userDetail.imagePath==''}" alt="User Pic"
                                                 style="height: 200px;" id="image-uploaded"
                                                 th:src="@{/images/avatar/ava.png}"
                                                 class="img-responsive img-circle"/>
                                            <figcaption th:if="${edit}">
                                                <div><i class="glyphicon glyphicon-circle-arrow-down"></i></div>
                                            </figcaption>
                                            <a th:onclick="${edit}?'javascript:$(\'#file\').click();'"></a>
                                        </figure>

                                        <input type="file" id="file" style="display: none;"
                                               th:onchange="'javascript:upload(\'avatar\');'"/>
                                        <input
                                                type="hidden" th:field="*{imagePath}" class="form-control"
                                                id="imagePath"/>
                                    </div>
        <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
                                    <div class=" col-md-12">
                                        <table class="table table-user-information">
                                            <tbody>

                                            <div style="margin: 0 auto;">
                                                <tr>
                                                <td th:text="#{user.detail.firstName}"></td>
                                                <td th:if="${!edit}" th:text="${userDetail.firstName}"></td>
                                                <td th:if="${edit}">
                                                    <input type="text" th:field="*{firstName}" id="firstName"
                                                           name="firstName"/>

                                                    <p class="error" th:if="${#fields.hasErrors('firstName')}"
                                                       th:errors="*{firstName}"></p>
                                                </td>
                                            </tr> </div>


                                            <tr>
                                                <td th:text="#{user.detail.lastName}"></td>
                                                <td th:if="${!edit}" th:text="${userDetail.lastName}"></td>
                                                <td th:if="${edit}">
                                                    <input type="text" th:field="*{lastName}" id="lastName"
                                                           name="firstName"/>

                                                    <p class="error" th:if="${#fields.hasErrors('lastName')}"
                                                       th:errors="*{lastName}"></p>
                                                </td>
                                            </tr>



                                            <tr>
                                                <td th:text="#{user.detail.birthDate}"></td>
                                                <td th:if="${!edit}" th:text="${userDetail.birthDate}"></td>
                                                <td th:if="${edit}">
                                                    <input type="text" th:field="*{birthDate}" id="birthDate"
                                                           name="birthDate"/>

                                                    <p class="error" th:if="${#fields.hasErrors('birthDate')}"
                                                       th:errors="*{birthDate}"></p>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td th:text="#{user.detail.phone}"></td>
                                                <td th:if="${!edit}" th:text="${userDetail.phone}"></td>
                                                <td th:if="${edit}">
                                                    <input type="text" id="phone" class="input-medium bfh-phone"
                                                           data-format="+38 (ddd) ddd-dddd"
                                                           th:field="*{phone}" name="phone"/>

                                                    <p class="error" th:if="${#fields.hasErrors('phone')}"
                                                       th:errors="*{phone}"></p>
                                                </td>
                                            </tr>


                                            <tr>
                                                <td th:text="#{user.detail.address}"></td>
                                                <td th:if="${!edit}" th:text="${userDetail.address}"></td>
                                                <td th:if="${edit}"><input type="text" th:field="*{address}"
                                                                           id="address" name="address"/>

                                                    <p class="error" th:if="${#fields.hasErrors('address')}"
                                                       th:errors="*{address}"></p>
                                                </td>
                                            </tr>



                                            <tr>
                                                <td th:text="#{user.detail.gender}"></td>
                                                <td th:if="${!edit}" th:text="${userDetail.gender}"></td>
                                                <td th:if="${edit}">
                                                    <select name="gender" id="gender" th:field="*{gender}">
                                                        <option name="gender" th:each="gen : ${gender}"
                                                                th:value="${gen}"
                                                                th:text="${gen}"></option>
                                                    </select>

                                                    <p class="error" th:if="${#fields.hasErrors('gender')}"
                                                       th:errors="*{gender}"></p>
                                                </td>
                                            </tr>


                                          <tr>
                                                <td th:text="#{user.detail.height}"></td>
                                                <td th:if="${!edit}" th:text="${userDetail.height}"></td>
                                                <td th:if="${edit}"><input type="text" th:field="*{height}"
                                                                           id="height" name="height"/>

                                                    <p class="error" th:if="${#fields.hasErrors('height')}"
                                                       th:errors="*{height}"></p>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td th:text="#{user.detail.weight}"></td>
                                                <td th:if="${!edit}" th:text="${userDetail.weight}"></td>
                                                <td th:if="${edit}"><input type="text" th:field="*{weight}"
                                                                           id="weight" name="weight"/>

                                                    <p class="error" th:if="${#fields.hasErrors('weight')}"
                                                       th:errors="*{weight}"></p>
                                                </td>
                                            </tr>


                                            <tr>
                                                <td th:text="#{user.detail.bloodType}"></td>
                                                <td th:if="${!edit}" th:text="${userDetail.bloodType}"></td>
                                                <td th:if="${edit}"><input type="text" th:field="*{bloodType}"
                                                                           id="bloodType" name="bloodType"/>

                                                    <p class="error" th:if="${#fields.hasErrors('bloodType')}"
                                                       th:errors="*{bloodType}"></p>
                                                </td>
                                            </tr>

                                           <tr>
                                                <td th:text="#{user.detail.eyeColor}"></td>
                                                <td th:if="${!edit}" th:text="${userDetail.eyeColor}"></td>
                                                <td th:if="${edit}"><input type="text" th:field="*{eyeColor}"
                                                                           id="eyeColor" name="eyeColor"/>

                                                    <p class="error" th:if="${#fields.hasErrors('eyeColor')}"
                                                       th:errors="*{eyeColor}"></p>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td th:text="#{user.detail.hairColor}"></td>
                                                <td th:if="${!edit}" th:text="${userDetail.hairColor}"></td>
                                                <td th:if="${edit}"><input type="text" th:field="*{hairColor}"
                                                                           id="hairColor" name="hairColor"/>

                                                    <p class="error" th:if="${#fields.hasErrors('hairColor')}"
                                                       th:errors="*{hairColor}"></p>
                                                </td>
                                            </tr>

                                             <tr>
                                                <td th:text="#{user.detail.email}"></td>
                                                <td><a th:href="@{mailto:${email}}"
                                                       th:text="${email}">info@support.com</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                              <td th:text="#{user.detail.medicalInformation}"></td>
                                            </tr>
                                            <tr>
                                                <td th:text="#{user.detail.allergies}"></td>
                                                <td th:if="${!edit}" th:text="${userDetail.allergies}"></td>
                                                <td th:if="${edit}"><input type="text" th:field="*{allergies}"
                                                                           id="allergies" name="allergies"/>

                                                    <p class="error" th:if="${#fields.hasErrors('allergies')}"
                                                       th:errors="*{allergies}"></p>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td th:text="#{user.detail.currentMedication}"></td>
                                                <td th:if="${!edit}" th:text="${userDetail.currentMedication}"></td>
                                                <td th:if="${edit}"><input type="text" th:field="*{currentMedication}"
                                                                           id="currentMedication" name="currentMedication"/>

                                                    <p class="error" th:if="${#fields.hasErrors('currentMedication')}"
                                                       th:errors="*{currentMedication}"></p>
                                                </td>
                                            </tr>




                                            <tr>
                                                <td th:text="#{user.detail.heartProblems}"></td>
                                                <td th:if="${!edit}" th:text="${userDetail.heartProblems}"></td>
                                                <td th:if="${edit}">
                                                    <select name="heartProblems" id="heartProblems" th:field="*{heartProblems}">
                                                        <option name="heartProblems" th:each="hProb : ${heartProblems}"
                                                                th:value="${hProb}"
                                                                th:text="${hProb}"></option>
                                                    </select>

                                                    <p class="error" th:if="${#fields.hasErrors('heartProblems')}"
                                                       th:errors="*{heartProblems}"></p>
                                                </td>
                                            </tr>



                                            <tr>
                                                <td th:text="#{user.detail.diabetes}"></td>
                                                <td th:if="${!edit}" th:text="${userDetail.diabetes}"></td>
                                                <td th:if="${edit}">
                                                    <select name="diabetes" id="diabetes" th:field="*{diabetes}">
                                                        <option name="diabetes" th:each="diab : ${diabetes}"
                                                                th:value="${diab}"
                                                                th:text="${diab}"></option>
                                                    </select>

                                                    <p class="error" th:if="${#fields.hasErrors('diabetes')}"
                                                       th:errors="*{diabetes}"></p>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td th:text="#{user.detail.epilepsy}"></td>
                                                <td th:if="${!edit}" th:text="${userDetail.epilepsy}"></td>
                                                <td th:if="${edit}">
                                                    <select name="epilepsy" id="epilepsy" th:field="*{epilepsy}">
                                                        <option name="epilepsy" th:each="epil : ${epilepsy}"
                                                                th:value="${epil}"
                                                                th:text="${epil}"></option>
                                                    </select>

                                                    <p class="error" th:if="${#fields.hasErrors('epilepsy')}"
                                                       th:errors="*{epilepsy}"></p>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td th:text="#{user.detail.restrictions}"></td>
                                                <td th:if="${!edit}" th:text="${userDetail.restrictions}"></td>
                                                <td th:if="${edit}"><input type="text" th:field="*{restrictions}"
                                                                           id="restrictions" name="restrictions"/>

                                                    <p class="error" th:if="${#fields.hasErrors('restrictions')}"
                                                       th:errors="*{restrictions}"></p>
                                                </td>
                                            </tr>



                                            <tr>
                                                <td></td>
                                            <td th:text="#{user.detail.callPeople}"></td>
                                           </tr>

                                            <tr>
                                                <td th:if="${edit}">
                                                   <p th:text="#{user.detail.name}"/>
                                                    <input th:field="${userDetail.relativesInfos[0].name}"
                                                           type="text" id="relativeName"
                                                           name="relativeName"/>
                                                </td>
                                                <td th:if="${edit}">
                                                    <p th:text="#{user.detail.phone}"/>
                                                    <input th:field="${userDetail.relativesInfos[0].phone}"
                                                           type="text" id="relativePhone"
                                                           name="relativePhone"
                                                           data-format="+38 (ddd) ddd-dddd" class="input-medium bfh-phone"
                                                    />
                                                </td>
                                                <td th:if="${edit}">
                                                    <p th:text="#{user.detail.person}"/>
                                                    <input th:field="${userDetail.relativesInfos[0].relation}"
                                                           type="text" id="relativeRelation" name="relativeRelation"/>
                                                </td>
                                                <td th:if="${!edit}">
                                                    <p th:text="#{user.detail.name}"/>
                                                    <p th:text="${userDetail.relativesInfos[0].name}"/>
                                                </td>

                                                <td th:if="${!edit}" >
                                                  <p th:text="#{user.detail.phone}"/>
                                                    <p th:text="${userDetail.relativesInfos[0].phone}"/>
                                                </td>

                                                <td th:if="${!edit}">
                                                    <p th:text="#{user.detail.person}"/>
                                                    <p th:text="${userDetail.relativesInfos[0].relation}"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td th:if="${edit}">
                                                    <p th:text="#{user.detail.name}"/>
                                                    <input th:field="${userDetail.relativesInfos[1].name}"
                                                           type="text" id="relativeName"
                                                           name="relativeName"/>
                                                </td>
                                                <td th:if="${edit}">
                                                    <p th:text="#{user.detail.phone}"/>
                                                    <input th:field="${userDetail.relativesInfos[1].phone}"
                                                           type="text" id="relativePhone"
                                                           name="relativePhone"
                                                           data-format="+38 (ddd) ddd-dddd" class="input-medium bfh-phone"
                                                    />
                                                    </td>

                                                <td th:if="${edit}">
                                                  <p th:text="#{user.detail.person}"/>
                                                 <input th:field="${userDetail.relativesInfos[1].relation}"
                                                           type="text" id="relativeRelation" name="relativeRelation"/>
                                                </td>
                                                <td th:if="${!edit}">
                                                    <p th:text="#{user.detail.name}"/>
                                                    <p th:text="${userDetail.relativesInfos[1].name}"/>
                                                </td>
                                                <td th:if="${!edit}">
                                                    <p th:text="#{user.detail.phone}"/>
                                                    <p th:text="${userDetail.relativesInfos[1].phone}"/>
                                                </td>
                                                <td th:if="${!edit}">
                                                    <p th:text="#{user.detail.person}"/>
                                                    <p th:text="${userDetail.relativesInfos[1].relation}"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td th:if="${edit}">
                                                    <p th:text="#{user.detail.name}"/>
                                                    <input th:field="${userDetail.relativesInfos[2].name}"
                                                           type="text" id="relativeName"
                                                           name="relativeName"/>
                                                </td>
                                                <td th:if="${edit}">
                                                    <p th:text="#{user.detail.phone}"/>
                                                    <input th:field="${userDetail.relativesInfos[2].phone}"
                                                           type="text" id="relativePhone"
                                                           name="relativePhone"
                                                           data-format="+38 (ddd) ddd-dddd" class="input-medium bfh-phone"
                                                    />
                                                </td>
                                                <td th:if="${edit}">
                                                    <p th:text="#{user.detail.person}"/>
                                                    <input th:field="${userDetail.relativesInfos[2].relation}"
                                                           type="text" id="relativeRelation" name="relativeRelation"/>
                                                </td>
                                                <td th:if="${!edit}">
                                                    <p th:text="#{user.detail.name}"/>
                                                    <p th:text="${userDetail.relativesInfos[2].name}"/>
                                                </td>
                                                <td th:if="${!edit}">
                                                    <p th:text="#{user.detail.phone}"/>
                                                    <p th:text="${userDetail.relativesInfos[2].phone}"/>
                                                </td>
                                                <td th:if="${!edit}">
                                                    <p th:text="#{user.detail.person}"/>
                                                    <p th:text="${userDetail.relativesInfos[2].relation}"/>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div id="real"
                                     class="btn btn-sm btn-warning"
                                     onclick="real()"><i
                                        class="glyphicon glyphicon-edit"></i></div>


                        <span class="pull-right">
                        <span th:if="${read==null}">
                               <a th:if="${!edit}" onclick="editProfile()" data-original-title="Edit this user"
                                  data-toggle="tooltip" type="button"
                                  class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a th:if="${edit}" onclick="submitForm()" data-original-title="Submit changes"
                               data-toggle="tooltip" type="button" id="submitChanges"
                               class="btn btn-sm btn-info"><i class="glyphicon glyphicon-ok"></i></a>
                            <a th:if="${edit}"  data-original-title="Close"
                               data-toggle="tooltip" data-dismiss="modal" type="button" id="dismissModal"
                               class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                            </span>
                        </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</section>

</body>

</html>