<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title th:text="|${doctor.userDetails.firstName} ${doctor.userDetails.lastName}|"></title>
    <link rel="stylesheet" th:href="@{/css/doctorInfo.css}"/>
</head>
<body>
<section layout:fragment="content">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="row-height">
                    <div class="col-lg-4 col-md-4 col-sm-5">
                        <img class="img-thumbnail" src="/" th:src="@{|/img/doctors/${doctor.userDetails.imagePath}|}" />
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-7">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">
                                <h3 th:text="|#{user.detail.doctor}: ${doctor.userDetails.firstName} ${doctor.userDetails.lastName}|"></h3>
                            </div>
                            <div class="panel-body">
                                <h5 th:text="|#{user.detail.email} ${doctor.userDetails.user.email}|"></h5>
                                <h5 th:text="|#{doctor.specialization}: ${doctor.specialization}|"></h5>
                                <h5 th:text="|#{doctor.category}: ${doctor.category}|"></h5>
                            </div>
                            <div class="panel-footer">
                                Hospitals: there, and here
                                asdf
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" th:text="${feedbacks}">
                <h1>kjflas</h1>
                <!--<div th:replace="templates/feedback::feedback-panel(${feedback})" />-->
            </div>
        </div>
    </div>

<!--
    <div class="row row-centered text-center row-weight">
        <div class="col-sm-2 col-md-2 col-lg-2 col-centered">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-right">vasd</div>
                </div>
                <div class="panel-body fixed-panel">Panel Contint</div>
            </div>
        </div>

        <div class="col-sm-2 col-md-2 col-lg-2 col-centered">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-right">vasd</div>
                </div>
                <div class="panel-body fixed-panel">Panel Contint</div>
            </div>
        </div>

        <div class="col-sm-2 col-md-2 col-lg-2 col-centered">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-right">vasd</div>
                </div>
                <div class="panel-body fixed-panel">Panel Contint</div>
            </div>
        </div>

        <div class="col-sm-2 col-md-2 col-lg-2 col-centered">
            <div class="panel panel-default">
                <div class="panel-heading">Panel Heading</div>
                <div class="panel-body fixed-panel">Panel Content</div>
            </div>
        </div>

        <div class="col-sm-2 col-md-2 col-lg-2 col-centered">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-right">vasd</div>
                </div>
                <div class="panel-body fixed-panel">Panel Contint</div>
            </div>
        </div>

        <div class="col-sm-2 col-md-2 col-lg-2 col-centered">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-right">vasd</div>
                </div>
                <div class="panel-body fixed-panel">Panel Contint</div>
            </div>
        </div>
    </div>
-->

    <div class="row">
        <div class="col-md-12"></div>
    </div>

    <form>
        <div class="form-group form-layout">
            <label for="input-feedback">Email address:</label>
            <textarea class="form-control" cols="40" rows="1" id="input-feedback" placeholder="Feedback"></textarea>
            <button type="button" class="btn btn-success">Send</button>
        </div>
    </form>
</section>
</body>
</html>