<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <meta charset="ISO-8859-1"/>
    <meta charset="UTF-8"/>
    <title>New Doctor</title>
    <link rel="stylesheet" th:href="@{/css/datepicker.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/doctor.css}"/>
    <script type="text/javascript" th:src="@{/js/bootstrap-formhelpers-phone.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-datepicker.js}"></script>
    <script type="text/javascript" th:src="@{/js/uploader.js}"></script>
    <script type="text/javascript" th:src="@{/js/new.doctor.js}"></script>
</head>
<body>
<section layout:fragment="content" class="dashboard center">
    <div class="content">
        <div id="mainWrapper">
            <div class="container">
                <div class="row" style="margin-top:20px">
                    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                        <form role="form" th:action="@{/newDoctor}" method="post" th:object="${newDoctorDto}"
                              id="registerNewUser">

                            <h1 class="all text-center" th:text="#{menager.add.new.doctor.title}"></h1>

                            <hr class="colorgraph"/>

                                <div class="row">
                                    <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="text" name="firstName" id="firstName" class="form-control input-lg"
                                                       th:placeholder="#{manager.add.new.doctor.placeholder.firstname}" tabindex="1"
                                                       th:value="(${newDoctorDto != null}) and (${newDoctorDto.firstName !=null}) ? ${newDoctorDto.firstName}:''"/>

                                                <span th:if="${(newDoctorDto ne null) and (#fields.hasErrors('firstName'))}"
                                                      th:errors="*{firstName}" class="has-error text-danger" id="errorFirstName"></span>
                                            </div>

                                            <div class="form-group">
                                                <input type="text" name="lastName" id="lastName" class="form-control input-lg"
                                                       th:placeholder="#{manager.add.new.doctor.placeholder.lastname}" tabindex="1"
                                                       th:value="(${newDoctorDto != null}) and (${newDoctorDto.lastName !=null}) ? ${newDoctorDto.lastName}:''"/>

                                                <span th:if="${(newDoctorDto ne null) and (#fields.hasErrors('lastName'))}"
                                                      th:errors="*{lastName}" class="has-error text-danger" id="errorLastName"></span>
                                            </div>
                                            <div class="form-group">
                                                <input type="email" name="email" id="email" class="form-control input-lg"
                                                       th:placeholder="#{manager.add.new.doctor.placeholder.email}" tabindex="1"
                                                       th:value="(${newDoctorDto != null}) and (${newDoctorDto.email !=null}) ? ${newDoctorDto.email}:''"/>

                                            <span th:if="${(newDoctorDto ne null) and (#fields.hasErrors('email'))}"
                                                  th:errors="*{email}" class="has-error text-danger" id="errorEmail"></span>
                                            </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div align="center">
                                            <figure th:class="${edit}?' snip1494 img-thumbnail img-responsive img-block'">
                                                <img th:if="${newDoctorDto.imagePath!=''}" alt="User Pic" id="image-uploaded"
                                                     th:src="${newDoctorDto.imagePath==null}?@{/images/avatar/photo.png}:@{|/images/avatar/${newDoctorDto.imagePath}|}"
                                                     class="img-responsive img-block"/>
                                                <img th:if="${newDoctorDto.imagePath==''}" alt="User Pic" id="image-uploaded"
                                                     th:src="@{/images/avatar/photo.png}"
                                                     class="img-responsive img-block"/>
                                                <figcaption th:if="${edit}">
                                                    <div><i class="glyphicon glyphicon-circle-arrow-down"></i></div>

                                                </figcaption>
                                                <a th:onclick="${edit}?'javascript:$(\'#file\').click();'"></a>
                                            </figure>

                                            <input type="file" id="file" style="display: none;"
                                                   th:onchange="'javascript:upload(\'avatar\');'"/>
                                            <input
                                                    type="hidden" th:field="*{imagePath}" class="form-control"
                                                    id="imagePath"/>
                                        </div>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="text-div">Specialization:</div>
                                    <div class="text-div">Category:</div>
                                </div>
                                <div class="col-sm-8">

                                    <select class="form-control" style="margin-top: 10px; margin-bottom: 10px;">
                                        <option>Mustard</option>
                                        <option>Ketchup</option>
                                        <option>Relish</option>
                                    </select>

                                    <select class="form-control" style="margin-top: 10px; margin-bottom: 10px;">
                                        <option>Mustard</option>
                                        <option>Ketchup</option>
                                        <option>Relish</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" name="education" id="education" class="form-control input-lg"
                                               th:placeholder="#{manager.add.new.doctor.placeholder.education}" tabindex="1"
                                               th:value="(${newDoctorDto != null}) and (${newDoctorDto.education !=null}) ? ${newDoctorDto.education}:''"/>

                                            <span th:if="${(newDoctorDto ne null) and (#fields.hasErrors('education'))}"
                                                  th:errors="*{education}" class="has-error text-danger" id="errorEducation"></span>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" name="address" id="address" class="form-control input-lg"
                                               th:placeholder="#{manager.add.new.doctor.placeholder.address}" tabindex="1"
                                               th:value="(${newDoctorDto != null}) and (${newDoctorDto.address !=null}) ? ${newDoctorDto.address}:''"/>

                                            <span th:if="${(newDoctorDto ne null) and (#fields.hasErrors('address'))}"
                                                  th:errors="*{address}" class="has-error text-danger" id="errorAddress"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="text-div">Hospital:</div>
                                    <div class="text-div">Department:</div>
                                </div>
                                <div class="col-sm-8">

                                    <select class="form-control" style="margin-top: 10px; margin-bottom: 10px;">
                                        <option>Mustard</option>
                                        <option>Ketchup</option>
                                        <option>Relish</option>
                                    </select>

                                    <select class="form-control" style="margin-top: 10px; margin-bottom: 10px;">
                                        <option>Mustard</option>
                                        <option>Ketchup</option>
                                        <option>Relish</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="text-div">Gender:</div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="radio">
                                        <label><input style="font-size: 18px;" type="radio" name="optradio"/>Male</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="radio">
                                        <label><input style="font-size: 18px;" type="radio" name="optradio"/>Female</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="text-div">Date of Birth:</div>
                                </div>
                                <div class='col-sm-3'>
                                    <input type='text' class="form-control" id='datepicker' style="margin-top: 5px;"/>
                                <script type="text/javascript">
                                    $(function () {
                                        $('#datepicker').datepicker();
                                    });
                                </script>
                                </div>
                                <div class="col-sm-2">
                                    <div class="text-div">Phone:</div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group" th:if="${edit}">
                                        <input type="text" id="phone" class="input-medium bfh-phone form-control"
                                               data-format="+38 (ddd) ddd-dddd"
                                               th:field="*{phone}" name="phone"/>

                                        <p class="error" th:if="${#fields.hasErrors('phone')}"
                                           th:errors="*{phone}"></p>
                                    </div>
                                </div>
                            </div>

                            <hr class="colorgraph"/>

                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="submit" class="btn btn-lg btn-info btn-block"
                                           th:value="#{manager.add.new.doctor.button.save}"
                                           tabindex="4" id="newUserSubmit"/>
                                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                                </div>
                                <div class="col-sm-6">
                                    <a th:href="@{/admin/users?status=true}"
                                       class="btn btn-lg btn-default btn-block"
                                       id="cancel" th:text="#{manager.add.new.doctor.button.cancel}"></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>

