<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Search results</title>
    <script th:src="@{/js/hospitals.js}"/>
    <script th:src="@{/js/arrow-top.js}"/>

</head>
<body>

<div layout:fragment="content">
    <div id="content" class="content">
        <div class="about text-center container">
            <input type="hidden" id="path" th:value="${#httpServletRequest.getContextPath()}"/>
            <div class="row">
                <div id="filter-panel" class="collapse filter-panel">
                    <div class="panel panelF-default">
                        <div class="panel-body">
                            <form class="form-inline" th:action="@{/{type}/page/1/params(type=${type},currentSearchQuery=${currentSearchQuery},itemsPerPage=${itemsPerPage})}" method="GET" role="form">
                                <div class="form-group">
                                    <label class="filter-col" style="margin-right:0;" for="pref-perpage" th:text="#{paginatedlayout.pageparams.label}"/>
                                    <select name = "itemsPerPage" id="pref-perpage" class="form-control">
                                        <option th:each="number:${#numbers.sequence(1,20)}"
                                                th:text="${number}"
                                                th:value="${number}"
                                                th:classappend="${number == itemsPerPage}?'selected':''"/>
                                    </select>
                                    <input type="hidden" name="currentSearchQuery" th:value="${currentSearchQuery}"/>
                                    <input type="hidden" th:field="*{type}" th:value="${type}"/>
                                </div>

                                <div class="form-group">
                                    <button type="submit"  class="btn btn-default filter-col">
                                        <span class="glyphicon glyphicon-record" th:text="#{paginatedlayout.pageparams.savebutton}"/>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#filter-panel" >
                    <span class="glyphicon glyphicon-cog"></span> <th:block th:text="#{paginatedlayout.pageparams.button}"/>
                </button>
            </div>
            <br/>
            <div th:if="${type == 'hospitals'}">
                <div th:replace="paginatedHospitalsList:: paginated-hospitals-list"/>
            </div>
            <div th:if="${type == 'doctors'}">
                <div th:replace="paginatedDoctorsList:: paginated-doctors-list"/>
            </div>

        </div>

        <p th:text='${itemsPerPage}'/>
        <a href="#content" class="cd-top"/>

    </div>
</div>
</body>
</html>